.board {
    box-sizing: border-box;
    padding: .1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    aspect-ratio: 5 / 6;
    height: min(420px, 120vw);
}