.cell {
    width: 20%;
    aspect-ratio: 1 / 1;
    margin: .2rem;
    border: 1px solid var(--default-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    font-size: 2rem;
}

.cell div {
    background-color: #282c34;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cell div:first-child {
    z-index: 1;
}

.cell .shiftUp {
    transition-property: top, bottom;
    transition-duration: .4s;
    top: -100%;
    bottom: 100%;
}

.cell:nth-child(2) .shiftUp {
    transition-delay: .2s;
}

.cell:nth-child(3) .shiftUp {
    transition-delay: .4s;
}

.cell:nth-child(4) .shiftUp {
    transition-delay: .6s;
}

.cell:nth-child(5) .shiftUp{
    transition-delay: .8s;
}

div.green {
    background-color: var(--correct-colour);
}

div.yellow {
    background-color: var(--partial-colour);
}

div.incorrect {
    background-color: var(--incorrect-colour);
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.spin:nth-child(2) {
    animation-delay: .1s;
}

.spin:nth-child(3) {
    animation-delay: .2s;
}

.spin:nth-child(4) {
    animation-delay: .3s;
}

.spin:nth-child(5) {
    animation-delay: .4s;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}