.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--backdrop-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    animation: none
}

.backdrop.active {
    z-index: 2;
    animation: fadeIn .2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    border: 2px solid var(--default-colour);
    border-radius: 2rem;
    width: 30rem;
    height: 30rem;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #121212;
    position: relative;
    bottom: 100%;
    user-select: none;
}

.backdrop.active .modal {
    animation: slideDown .2s;
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {
        bottom: 100%
    }
    to {
        bottom: 0;
    }
}

.statsRow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonRow {
    display: flex;
    gap: 2rem;
}
