.board {
    background-color: grey;
    box-sizing: border-box;
    padding: 2.5rem;
    border-radius: 2rem;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}