.cell {
    width: 3rem;
    height: 3rem;
    margin: .1rem;
    background-color: #282c34;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.green {
    background-color: #538d4e;
}

.yellow {
    background-color: #b59f3b;
}