.cell {
    width: 20%;
    aspect-ratio: 1 / 1;
    margin: .1rem;
    background-color: #282c34;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.green {
    background-color: #538d4e;
}

.yellow {
    background-color: #b59f3b;
}

.spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.spin:nth-child(2) {
    animation-delay: .2s;
}

.spin:nth-child(3) {
    animation-delay: .4s;
}

.spin:nth-child(4) {
    animation-delay: .6s;
}

.spin:nth-child(5) {
    animation-delay: .8s;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}