.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid var(--default-colour);
    margin-bottom: .5rem;
}

.headerLogo {
    font-weight: bold;
    user-select: none;
}