.key {
    background-color: grey;
    box-sizing: content-box;
    flex: 1;
    padding: 1rem 0;
    border-radius: .5rem;
    margin: .1rem;
    user-select: none;
    width: 5%;
    font-size: medium;
    font-weight: bold;
}