.key {
    padding: 1.3rem 0;
    border-radius: .2rem;
    user-select: none;
    width: 9%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large {
    width: 12%;
}

.smallText {
    font-size: small;
}

.key:active,
.active {
    filter: brightness(0.6);
}

.green {
    background-color: var(--correct-colour);
}

.yellow {
    background-color: var(--partial-colour);
}

.grey {
    background-color: var(--default-colour);
}

.incorrect {
    background-color: var(--incorrect-colour);
}