.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  --default-color: rgb(128, 128, 128);
  --correct-color: #538d4e;
  --partial-color: #b59f3b;
  --transparent-color: rgba(128, 128, 128, .4);
}

@supports (-webkit-touch-callout: none) {
  .App {
    min-height: -webkit-fill-available;
  }
}
