.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  --default-colour: rgb(128, 128, 128);
  --correct-colour: #538d4e;
  --partial-colour: #b59f3b;
  --incorrect-colour: rgb(70, 70, 70);
  --transparent-colour: rgba(128, 128, 128, .4);
  --backdrop-colour: rgba(18, 18, 18, .8);
}
