.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  --default-colour: rgb(128, 128, 128);
  --correct-colour: #538d4e;
  --partial-colour: #b59f3b;
  --transparent-colour: rgba(128, 128, 128, .4);
  --backdrop-colour: rgb(40, 44, 52, .8);
}

@supports (-webkit-touch-callout: none) {
  .App {
    min-height: -webkit-fill-available;
  }
}
